__pycache__

**/build/**
**/devel/**
**/install/**

**/build_isolated/**
**/devel_isolated/**
**/install_isolated/**

.vscode/**
.cache/**

*.o
*.make
*.so
*.cmake
depend.internal
CXX.includecache

**/.idea/**
**/yolov8/**